In [1]:
import otter
grader = otter.Notebook()

# Homework 5: Applying Functions and Iteration

Please complete this notebook by filling in the cells provided. Before you begin, execute the following cell to load the provided tests. Each time you start your server, you will need to execute this cell again to load the tests.

**Throughout this homework and all future ones, please be sure to not re-assign variables throughout the notebook! For example, if you use `max_temperature` in your answer to one question, do not reassign it later on. Moreover, please be sure to only put your written answers in the provided cells.**

In [2]:
# Don't change this cell; just run it. 

import numpy as np
from datascience import *

# These lines do some fancy plotting magic.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

import otter
grader = otter.Notebook()

## 1. 22-23 SBCC Women's Basketball Season

Let's take a look at how well the SBCC Women's Basketball team performed in the 22-23 season. A basketball game is divided into four periods, called quarters. The number of points SBCC scored in each quarter, and the number of points their opponent scored in each quarter are stored in a table called `sbcc_bb.csv`.

In [3]:
# Just run this cell
# Read in the cal_fb csv file
games = Table().read_table("sbcc_bb.csv")
games.show()

Let's start by finding the total points each team scored in a game.

**Question 1.** Write a function called `game_totals`.  It should take four arguments, where each argument is the team's score for that quarter. It should return the team's total score for that game.


<!--
BEGIN QUESTION
name: q1_1
manual: false
-->

In [27]:
def game_totals(q1, q2, q3, q4):
    '''Returns the total score calculated by adding up the score of each quarter'''
    return q1 + q2 + q3 + q4
    

game_totals(14, 7, 3, 0) #DO NOT CHANGE THIS LINE

24

In [28]:
grader.check("q1_1")

q1_1 results: All test cases passed!

**Question 2.** Create a new table `results` with three columns in this *specific* order: `Opponent Name`, `SBCC Score`, `Opponent Score`. You will have to create the `SBCC Score` and `Opponent Score` columns. Use the function `game_totals` you just defined in the previous question for this problem.

*Hint:* If you want to apply a function that takes in multiple arguments, you can pass multiple column names as arguments in `tbl.apply()`. The column values will be passed into the corresponding arguments of the function. Take a look at the python reference for syntax.

*Tip:* If you’re running into issues creating final_scores, check that `SBCC_scores` and `opponent_scores` output what you want. 


<!--
BEGIN QUESTION
name: q1_2
manual: false
-->

In [43]:
SBCC_scores = games.select(range(1,5)).apply(game_totals, 0, 1, 2, 3)
opponent_scores = games.select(range(5,9)).apply(game_totals, 0, 1, 2, 3)
results = Table().with_columns('Opponent Name', games.column(0),
                              'SBCC Score', SBCC_scores,
                              'Opponent Score', opponent_scores)
results

Opponent Name   | SBCC Score | Opponent Score
LA Harbor       | 56         | 44
Santa Ana       | 61         | 49
Riverside       | 57         | 76
Bakersfield     | 67         | 49
Solano          | 58         | 70
Antelope Valley | 68         | 64
Victor Valley   | 49         | 78
Mt San Jacinto  | 51         | 58
San Mateo       | 45         | 49
Ohlone          | 70         | 41
... (19 rows omitted)

In [44]:
grader.check("q1_2")

q1_2 results: All test cases passed!

We can get specific row objects from a table. You can use `tbl.row(n)` to get the `n`th row of a table. `row.item("column_name")` will allow you to select the element that corresponds to `column_name` in a particular row. Here's an example:

In [45]:
# Just run this cell
games.row(10)

Row(Opponent='Bakersfield', SBCC 1Q=20, SBCC 2Q=15, SBCC 3Q=18, SBCC 4Q=13, Opp 1Q=6, Opp 2Q=12, Opp 3Q=17, Opp 4Q=21)

In [46]:
# Just run this cell
games.row(10).item("SBCC 4Q")

13

**Question 3.** We want to see for a particular game whether or not SBCC won. Write a function called `did_SBCC_win`.  It should take one argument: a row object from the `results` table. It should return either `True` if SBCC's score was greater than the Opponent's score, and `False` otherwise.


<!--
BEGIN QUESTION
name: q1_3
manual: false
-->

In [51]:
def did_SBCC_win(row):
    if row[1] > row[2]:
        return True
    else:
        return False

In [52]:
grader.check("q1_3")

q1_3 results: All test cases passed!

**Question 4.** Did SBCC win the majority of the games in the 22-23 season? Using the `results` table, assign `wins` to an array of `True` and `False` values that correspond to whether or not SBCC won. Add the `wins` array to the `results` table as a column called `Win?` and assign this to a new table called `results_with_wins`. Then, respectively assign the number of wins and losses SBCC had to `SBCC_wins` and `SBCC_losses`, but be sure that this is done completely in Python.

*Hint*: When you only pass a function name and no column labels through `tbl.apply()`, the function gets applied to every row in `tbl`. 


<!--
BEGIN QUESTION
name: q1_4
manual: false
-->

In [59]:
wins = results.apply(did_SBCC_win)
results_with_wins = results.with_column('Win?', wins)
SBCC_wins = results_with_wins.column('Win?').sum()
SBCC_losses = len(results_with_wins.column('Win?')) - SBCC_wins

# Don't delete or edit the following line:
print(f"In the 22-23 Season, the SBCC Women's Basketball team won {SBCC_wins} games and lost {SBCC_losses} games. Go Vaqueros!")

In the 22-23 Season, the SBCC Women's Basketball team won 15 games and lost 14 games. Go Vaqueros!

In [60]:
grader.check("q1_4")

q1_4 results: All test cases passed!

## Congratulations! You've reached the end of the required questions for Homework #5!

Be sure to run all cells and the tests and verify that they all pass, then choose Download as PDF from the File menu and submit the .pdf file on canvas.
Continue on to the optional section for some practice with iterations and for loops!

## (Optional) Unrolling Loops

**The rest of this homework is optional. Do it for your own practice, but it will not be incorporated into the final grading!**

"Unrolling" a `for` loop means to manually write out all the code that it executes.  The result is code that does the same thing as the loop, but without the structure of the loop.  For example, for the following loop:

    for num in np.arange(3):
        print("The number is", num)

The unrolled version would look like this:

    print("The number is", 0)
    print("The number is", 1)
    print("The number is", 2)


Unrolling a `for` loop is a great way to understand what the loop is doing during each step. In this exercise, you'll practice unrolling `for` loops.


In each question below, write code that does the same thing as the given code, but with any `for` loops unrolled.  It's a good idea to run both your answer and the original code to verify that they do the same thing.  (Of course, if the code does something random, you'll get a different random outcome than the original code!)

First, run the cell below to load data that will be used in a few questions.  It's a table with 52 rows, one for each type of card in a deck of playing cards.  A playing card has a "suit" ("♠︎", "♣︎", "♥︎", or "♦︎") and a "rank" (2 through 10, J, Q, K, or A).  There are 4 suits and 13 ranks, so there are $4 \times 13 = 52$ different cards.

In [ ]:
deck = Table.read_table("deck.csv")
deck

**Optional Question 1.** Unroll the code below.

*Hint:* `np.random.randint` returns a random integer between 0 (inclusive) and the value that's passed in (exclusive).

<!--
BEGIN QUESTION
name: q2_1
manual: false
-->

In [ ]:
# This table will hold the cards in a randomly-drawn hand of
# 5 cards.  We simulate cards being drawn as follows: We draw
# a card at random from the deck, make a copy of it, put the
# copy in our hand, and put the card back in the deck.  That
# means we might draw the same card multiple times, which is
# different from a normal draw in most card games.
hand = Table().with_columns("Rank", make_array(), "Suit", make_array())
for suit in np.arange(5):
    card = deck.row(np.random.randint(deck.num_rows))
    hand = hand.with_row(card)
hand

In [ ]:
hand = Table().with_columns("Rank", make_array(), "Suit", make_array())
...

**Optional Question 2.** Unroll the code below.
<!--
BEGIN QUESTION
name: q2_2
manual: false
-->

In [ ]:
for joke_iteration in np.arange(4):
    print("Knock, knock.")
    print("Who's there?")
    print("Banana.")
    print("Banana who?")
print("Knock, knock.")
print("Who's there?")
print("Orange.")
print("Orange who?")
print("Orange you glad I didn't say banana?")

In [ ]:
...

**Optional Question 3.** Unroll the code below.
<!--
BEGIN QUESTION
name: q2_3
manual: false
-->

In [ ]:
# This table will hold the cards in a randomly-drawn hand of
# 4 cards.  The cards are drawn as follows: For each of the
# 4 suits, we draw a random card of that suit and put it into
# our hand.  The cards within a suit are drawn uniformly at
# random, meaning each card of the suit has an equal chance of
# being drawn.
hand_of_4 = Table().with_columns("Rank", make_array(), "Suit", make_array())
for suit in make_array("♠︎", "♣︎", "♥︎", "♦︎"):
    cards_of_suit = deck.where("Suit", are.equal_to(suit))
    card = cards_of_suit.row(np.random.randint(cards_of_suit.num_rows))
    hand_of_4 = hand_of_4.with_row(card)
hand_of_4

In [ ]:
hand_of_4 = Table().with_columns("Rank", make_array(), "Suit", make_array())
...